.navbar.navbar-default
  %ul.nav.navbar-nav
    - if simulation && defined?(@account)
      %li
        %a.btn{"data-target" => "#simulation-modal", "data-toggle" => "modal", :type => "button"}
          Simulation
- if simulation && defined?(@account)
  #simulation-modal.modal.fade{"aria-labelledby" => "simulation-label", :role => "dialog", :tabindex => "-1"}
    .modal-dialog{:role => "document"}
      .modal-content
        = form_tag(:sold_at_account, url: sold_at_account_path(@account), method: :post, remote: true) do
          .modal-header
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} ×
            %h4#simulation-label.modal-title Simulation
          .modal-body
            .form-group
              %label Simuler le solde de mon compte à la date suivante:
              = text_field_tag 'simulation[date]', nil, class: 'form-control datepicker'
          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
            %button.btn.btn-primary{:type => "submit"} Launch simulation
