#page-container {
  margin: 1em 1em 0 1em;
}

.tr {
  display: table-row;
}

.invisible-border {
  box-shadow: none !important;
  border: none !important;
  padding: 5px !important;
  /*background: rgba(0,0,0,0.03) !important;*/
  border-radius: 0 !important;
}
.invisible-border:focus {
  background: rgba(0,0,0,0.05) !important;
}

td.with-input {
  padding: 0 !important;
}

td.with-select {
  padding-bottom: 0 !important;
}

.table-hover > tbody > tr:hover {
  background-color: rgba(0,0,0,0.03) !important;
}

.errored {
  box-shadow: inset 0px 0px 1px 1px rgba(255,0,0,0.5) !important;
}

#ui-datepicker-div {
  font-size: smaller;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}
