.row
  .col-md-8.card
    .card-inner
      %a.btn.btn-xs.btn-success.pull-right.rounded{"data-content" => render('operations/add'), "data-toggle" => "popover", :role => "button", :tabindex => "0"}
        %i.glyphicon.glyphicon-plus
      #operations
        = render 'operations/table'
  .col-md-4.card.last-card
    .card-inner
      %ul.nav.navbar-nav
        - if defined?(@account)
          %li
            %a.btn{"data-target" => "#simulation-modal", "data-toggle" => "modal", :type => "button"}
              SIMULATION
    - if defined?(@account)
      #simulation-modal.modal.fade{"aria-labelledby" => "simulation-label", :role => "dialog", :tabindex => "-1"}
        .modal-dialog.modal-lg{:role => "document"}
          .modal-content
            = form_tag(:sold_at_account, url: sold_at_account_path(@account), method: :post, remote: true) do
              .modal-header
                %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                  %span{"aria-hidden" => "true"} ×
                %h4#simulation-label.modal-title SIMULATION
              .modal-body
                .input-group
                  = text_field_tag 'simulation[date]', nil, class: 'form-control datepicker', placeholder: 'Date'
                  %span.input-group-btn
                    %button.btn.btn-success{:type => "submit"} Launch simulation
                #simulation-results
              .modal-footer
                %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
